/* Header Styling */

.header {
  display: flex;
  width: cover;
  height: 64px;
  border: thin solid black;
  background-color: white;
}

.left {
  display: flex;
  padding-left: 24px;
}

.left h3 {
  height: 32px;
}

.right {
  display: flex;
  align-items: center;
  margin-left: 500px;
  padding-right: 24px;
  border: thin solid red;
  justify-content: flex-end;
  width: 90%;
}

.right nav {
  padding-left: 16px;
  padding-right: 16px;
}

/* Banner Styling */

.banner {
  padding-top: 32px;
  padding-left: 24px;
  padding-bottom: 32px;
  border: thin solid black;
  width: cover;
  height: 500px;
  display: flex;
  background-color: slategrey;
}


.banner img {
  border: thin solid green;
  width: 60%;
}

.bannertxt {
  display: flex;
  flex-direction: column;
  border: thin solid red;
  width: 260px;
  margin-left: 24px;
  align-items: center;
  line-height: 1.2;
}

.one {
  padding-top: 80px;
  border: thin solid red;
}

.two {
  padding-top: 25px;
  border: thin solid red;
}

.three {
  padding-top: 8px;
  padding-bottom: 8px;
  border: thin solid red;
  padding-left: 98px;
  padding-right: 98px;
  background-color: hsla(233, 17%, 50%, 1);
}

/* Banner2 Styling */

.banner2 {
  width: cover;
}

.banner2 img {
  padding-left: 24px;
  padding-top: 32px;
  width: 60%;
}

.txt2 {
  padding-left: 24px;
  width: 60%;
  display: block;
}

.readmore {
  width: 40%;
  display: flex;
  flex-direction: column;
  border: thin solid red;
}

.readmore img {
  width: 35%;
}

.readmore h3 p a {

}
