/* Header Styling */

.header {
  display: flex;
  width: cover;
  height: 64px;
  border: thin solid black;
  background-color: white;
}

.mobilehead {
  display: none;
}

/* Mobile Header Styling */



@media only screen and (max-width: 480px){
  .left h3 {
    display: none;
  }
  .mobilehead {
    display: inline;
    border: thin solid blue;
    width: cover;
    margin-left: 50px;
    padding-left: 20px;
  }
  .left img {
    border: thin solid red;
  }
  .right nav {
    display: none;
  }
}




.left {
  display: flex;
  padding-left: 24px;
}

.left h3 {
  height: 32px;
}

.right {
  display: flex;
  align-items: center;
  margin-left: 500px;
  padding-right: 24px;
  justify-content: flex-end;
  width: 90%;
}

.right nav {
  padding-left: 16px;
  padding-right: 16px;
}

/* Banner Styling */

.banner {
  padding-top: 32px;
  padding-left: 24px;
  padding-bottom: 32px;
  border: thin solid black;
  width: cover;
  height: 500px;
  display: flex;
  background-color: slategrey;
}

@media only screen and (max-width: 480px) {
  .banner {
    display: block;
    width: cover;
    border: thin solid yellow;
  }
}

.banner img {
  border: thin solid green;
  width: 60%;
}


@media only screen and (max-width: 480px) {
  .banner img {
    width: 90%;
  }
}



.bannertxt {
  display: flex;
  flex-direction: column;
  border: thin solid red;
  width: 260px;
  margin-left: 24px;
  margin-bottom: 32px;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
}

@media only screen and (max-width: 480px) {
  .bannertxt {
    margin-left: 33px;
  }
}

.one {
  border: thin solid red;
}

.two {
  padding-top: 25px;
  border: thin solid red;
}

.three {
  padding-top: 8px;
  padding-bottom: 8px;
  border: thin solid red;
  padding-left: 98px;
  padding-right: 98px;
  background-color: hsla(233, 17%, 50%, 1);
}

/* Banner2 Styling */

.banner2 {
  width: cover;
  padding-top: 32px;
  display: flex;
  padding-bottom: 32px;
}

.banner2left {
  width: 60%;
  padding-left: 24px;
  border: thin solid green;
}

.banner2left img {
  width: 100%;
  border: thin solid green;
}

@media only screen and (max-width: 480px) {
  .banner2left {
    display: none;
  }
}

.reader {
  width: 40%;
  border: thin solid green;
}

@media only screen and (max-width: 480px) {
  .reader {
    width: 100%;
  }
}

.readmore {
  display: flex;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: thin solid blue;
}

.readmore img {
  width: 35%;
  height: 176px;
  display: flex;
}

.readmore .mobile2 {
  display: none;
}

@media only screen and (max-width: 480px) {
  .readmore {
    display: block;
  }
}


@media only screen and (max-width: 480px) {
  .readmore img {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .readmore .mobile2 {
    display: inline-block;
    width: 95%;
  }
}

.readtxt {
  width: 60%;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
}

.eman {
  display: flex;
  padding-top: 46px;
  border: thin solid blue;
}

/* Banner3 */

#tops {
  display: block;
  text-align: center;
  width: cover;
  padding-top: 32px;
  padding-bottom: 32px;
  border: thin solid red;
}

.banner3 {
  background-color: slategrey;
}

.classes {
  display: flex;
  flex-wrap: wrap;
  padding-left: 90px;
  padding-right: 64px;
}

.readmore2 img {
  width: 324px;
  height: auto;
}

@media only screen and (max-width: 480px){
  .readmore2 img {
    display: none;
  }
}

.readmore2 {
  border: thin solid blue;
  background-color: white;
  margin-right: 32px;
  width: 324px;
  height: auto;
}



.readtxt2 {
  background-color: white;
  padding-left: 16px;
}

@media only screen and (max-width: 480px) {
  .readtxt2 p {
    display: none;
  }
  .readtxt2 h2 {
    display: flex;
    width: 324px;
  }
}

.bottomclass {
  padding-top: 32px;
  display: flex;
  width: 324px;
  padding-bottom: 32px;
}

@media only screen and (max-width: 480px) {
  .bottomclass{
    display: block;
    margin-bottom: 54px;
    margin-right: 100px;
  }
}

/* Banner 4 */

#thesis {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.banner4 {
  width: cover;
  display: flex;
}

.banner4left {
  width: 60%;
  padding-left: 24px;
  border: thin solid green;
}

.banner4left video {
  width: 100%;
}

.banner4left p {
  padding-bottom: 32px;
}

@media only screen and (max-width: 480px) {
  .banner4left {
    width: 100%;
    padding-left: 0px;
  }
  .banner4left h1 {
    display: none;
  }
  .banner4left p {
    display: none;
  }
  .oppo {
    display: none;
  }
}

.oppo {
  width: 40%;
  border: thin solid green;
  padding-left: 24px;
}

.readmore3 {
  display: flex;
  border: thin solid red;
}

.readmore3 img {
  width: 35%;
  height: 176px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.readtxt3 {
  width: 65%;
  padding-left: 16px;
}

.footer {
  display: flex;
  border: thin solid blue;
  align-items: center;
  padding-top: 16px;
  padding-left: 24px;
}


.footerright {
  border: thin solid red;
  margin-left: 810px;
}

@media only screen and (max-width: 480px) {
  .footerright {
    display: none;
  }
}
